@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">John Gabriel Gerolia</h1>
    <p>Bachelor of Science in Information Technology <br>32E1</br></p>
    <img src="https://scontent.fmnl3-4.fna.fbcdn.net/v/t1.6435-9/72836503_2413631452006098_1628538507859329024_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=be3454&_nc_eui2=AeG7ZK2rt9PjVa9193tSVM29Ans1YczAsMkCezVhzMCwyQImokjhUhteYFdhsuqu8cBN6AgjB9ahmtk63JrH44y0&_nc_ohc=WjxJl3uAvKgAX-l95OV&_nc_ht=scontent.fmnl3-4.fna&oh=00_AfBmepMFIH5XZGaTv-KVRpc7ADLE3W2Za-xePX-YjTz23g&oe=6607B5E9" alt="me" id="me">
</div>
