@{
    ViewData["Title"] = "My Schedule";
}
<h1>@ViewData["Title"]</h1>

<br />
<table style="width:100%">
    <tr colspan="2">
        <th>Subject Code</th>
        <th>Subject Title</th>
        <th>Teacher</th>
        <th>Unit</th>
        <th colspan="2">Online Synchronous</th>
        <th colspan="2">Asynchronous</th>
        <th colspan="2">Face-to-Face</th>
        <th>Room</th>
    </tr>
    <tr>
        <td>SIA323</td>
        <td>Systems Integrations & Architecture 1</td>
        <td>Prof Banag</td>
        <td>3</td>
        <td width="50px"></td>
        <td></td>
        <td width="50px">Sat</td>
        <td>10:00-12:00NN</td>
        <td width="80px">Mon/Tue</td>
        <td>06:30-08:00PM</td>
        <td>202</td>
    </tr>
    <tr>
        <td>FIL103</td>
        <td>Panitikan</td>
        <td>Prof Zaide</td>
        <td>3</td>
        <td width="50px">Thu</td>
        <td>10:00-12:00NN</td>
        <td width="50px">Mon</td>
        <td>04:00-05:00PM</td>
        <td width="80px"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CAP323</td>
        <td>Capstone Project and Research 1</td>
        <td>Prof R Ellana</td>
        <td>3</td>
        <td width="50px"></td>
        <td></td>
        <td width="50px">Thu</td>
        <td>07:00-09:00PM</td>
        <td width="80px">Mon/Tue</td>
        <td>05:00-06:30PM</td>
        <td>217</td>
    </tr>
    <tr>
        <td>MS313</td>
        <td>Quantitative Methods (Modeling & Simulation)</td>
        <td>Prof Deladia</td>
        <td>3</td>
        <td width="50px"></td>
        <td></td>
        <td width="50px">Wed</td>
        <td>07:00-09:00PM</td>
        <td width="80px">Mon/Tue</td>
        <td>08:00-09:30PM</td>
        <td>INT1</td>
    </tr>
    <tr>
        <td>ELEC323</td>
        <td>IT Elective 3 (FULL STACK)</td>
        <td>Prof Alamo</td>
        <td>3</td>
        <td width="50px"></td>
        <td></td>
        <td width="50px">Thu</td>
        <td>01:00-03:00PM</td>
        <td width="80px">Sat</td>
        <td>07:00-100:00AM</td>
        <td>INT1</td>
    </tr>
    <tr>
        <td>IAS323</td>
        <td>Information Assurance and Security 1</td>
        <td>Prof Malig-on</td>
        <td>3</td>
        <td width="50px"></td>
        <td></td>
        <td width="50px">Thu</td>
        <td>12:00-02:00PM</td>
        <td width="80px">Tue</td>
        <td>04:00-05:00PM</td>
        <td>318</td>
    </tr>
</table>
